body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.navbar li {
    float: left;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navbar-header {
    background-color: #4CAF50;
}

.logout {
    color: inherit;
}

.logout:hover {
    color: #aaa;
}

.alert {
    border-radius: 10px;
    box-shadow: #333 2px;
    border: 1px solid black;
    padding: 15px;
}

.alert .close {
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-warning {
    background-color: #ccd392;
    color: gray;
}

.overlay {
    background: #1d1a1a;  
    display: none;        
    position: absolute;   
    top: 0;               
    right: 0;             
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.loader {
    position: fixed;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #35a35f;
    border-bottom: 16px solid #223070;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 100000;

}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}