body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-left: 25%;
    margin-right: 25%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.navbar li {
    float: left;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navbar-header {
    background-color: #4CAF50;
}

.logout {
    color: inherit;
}

.logout:hover {
    color: #aaa;
}

.alert {
    border-radius: 10px;
    box-shadow: #333 2px;
    border: 1px solid black;
    padding: 15px;
}

.alert .close {
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-warning {
    background-color: #ccd392;
    color: gray;
}