#main-menu {
    list-style-type: decimal-leading-zero;
    padding: 0;
    border: 1px solid #ddd;
    margin-right: 70%;
}

#main-menu li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

#main-menu li:last-child {
    border-bottom: none;
}

#main-menu li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}