<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Entrenamiento Paz</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="overlay">
        <div class="loader"></div>
    </div>
    {% include "navbar.html" %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <span class="close" data-dismiss="alert" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block footer %}{% endblock %}
</body>
</html>