{% extends 'base.html' %}
{% block title %}Menu Principal{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}
{% block body %}
    <h2>Bienvenido {{ nombre }}!</h2>
    <ul id="main-menu">
        <li class="menu-element">
            <a href="{{ url_for('.cargar') }}" class="menu-link">
                Cargar Datos
            </a>
        </li>
        <li class="menu-element">
            <a href="{{ url_for('.ver') }}" class="menu-link">
                Ver Datos
            </a>
        </li>
    </ul>
{% endblock %}